* {
    margin: 0px 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    max-width: 100%;
    justify-content: center;
    margin-top: 350px;
    border: solid;
    border-style: dashed;
    border-radius: 50px;
}

input {
    margin: 10px;
}

button{
    justify-content: space-between;
    margin-left: 120px;
}